// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1170;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1100: 1099.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;


// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #8AC6E8;
$burgerActiveColor: #fefefe;

